*{
    
    box-sizing: border-box;
    
}

/* responsive part */
    

.container-1{
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 1150PX;
    margin: 0 auto;
    
}
.container{
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 70%;
    margin: 0 auto ;
    
}
/* nav start */

.nav-container > div {
    
    padding:10px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    
}
.nav-text{
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    color: #9a9999;
    font-weight: 600;
    font-family: "Open Sans";
    padding: inherit;
    

}
.nav-text:hover{
    color: black;
}
.nav-logo{
    max-width: 80%;
    float: left;
}
.nav-list{
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    justify-content: end;
    text-decoration: none;
    
}

/* AFTER NAV */
.img-container {
    width: 100%;
    position: relative;
}
.text-image {
    position: absolute;
    float: left;
    top: 40%;
    color: white;
    text-align: start;
    font-family: "Bebas Neue";
}
.Lorem{
    width: 70%;
    

}

.button {
    width: 163px;
    height: 47px;
    border-radius: 24px;
    background-color: #2c6be8;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.4s;
}


.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(41, 38, 38, 0.19);
    color: rgb(88, 15, 15);
}

.main-img-box{
    margin: 4% 2%;
    width: 100%;
    /* position: relative; */
  
}
.box-img-1{
    width: 48%;
    height: 350px;
    background-color: #0c47bd;
    margin: 0px 6px;
    left: 50%;
    
}
.box-img-2{
    background-color: #05183e;
}
.box-img-item{
    color: black;
    position: absolute;
    top: 75px;
    left: 3%;
    font-size: x-large;
    color: #ffffff;
    font-family: "Bebas Neue";
}
.box-img-item-2{
    color: black;
    position: absolute;
    top: 75px;
    left: 53%;
    font-size: x-large;
    color: #ffffff;
    font-family: "Bebas Neue";

}
.best-seller{

    font-size: 50px;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;
    width: 100%;
    color: black;
}


/* slider start */


.main-slider-box{
    position: relative;
}

/* Next & previous buttons */
.prev , .next {
    cursor: pointer;
    position: absolute;
    top: 150px;
    right: 100%;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    color: orange;
}

/* Position the "next button" to the right */
.next {
  left: 100%;
  border-radius: 3px;
  width: min-content;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides active{
display: inline-flex !important;
width: 100% !important;
}
.mySlides{
    /* display: flex !important; */
}
.mySlides .mySlides_wrapper{
display: flex;
flex-direction: column;
width: 32%;
align-items: center;
}
.mySlides img{
/* width: 32% !important; */
float: left;
}
.img-44{
    height: 320px;
    margin: 1% 0.5%;

}
.img-33{
    display: flex;

}
.slider-item-name{
    color: black;
    font-size: 20px;
    width: 32%;
    
}

@media screen and (max-width: 500px) {
    .button {
        width: 80px;
        height: 30px;
        border-radius: 24px;
        font-size: 8px;
    }
    .text-image {
        top: 20%;
        font-size: 10px;
    }

    .box-img-item, .box-img-item-2{
        font-size: 8px;
    }
    .img_wrapper{
        width: 100%;
        position: relative;
        display: block;
        margin: 5px;
      }
      .img_wrapper img{
    width: 100%;
      }
    
  }
  @media screen and (min-width: 480px) {
    
   .main-img-box{
    display: flex;
    flex-direction: column;
    width: 100%;
   }
   .img_wrapper{
    width: 100%;
    display: block;
    position: relative;
   }
   .img_wrapper img{
    width: 100%;
   }
  }

/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 500px) {
    .button {
        width: 100px;   
        height: 35px;
        border-radius: 24px;
        font-size: 10px;
    }
    .text-image {
        top: 25%;
        font-size: 12px;
    }
    .box-img-item, .box-img-item-2{
        font-size: 10px;
    }
    .img_wrapper{
        width: 100%;
        position: relative;
        display: block;
    margin: 5px;
      }
      .img_wrapper img{
    width: 100%;
      }
      .best-seller{

        font-size: 30px;
        font-weight: 400;
    }
    
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media screen and (min-width: 800px) and (max-width: 1280px) {
    .button {
        width: 140px;
        height: 40px;
        border-radius: 24px;
        font-size: 13px;
    }

    .text-image {
        top: 25%;
        font-size: 13px;
    }
    .box-img-item, .box-img-item-2{
        font-size: 20px;
    }
    .main-img-box{
        display: flex;
    }
    .img_wrapper{
        position: relative;
        display: block;
    margin: 5px;
      }
      .img_wrapper img{
    width: 100%;
      }
      .best-seller{

        font-size: 35px;
        font-weight: 500;
    }
    
   
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media screen and (min-width: 1139px) {
    
    .text-image {
        top: 25%;
        font-size: 15px;
    }
    .box-img-item, .box-img-item-2{
        font-size: 25px;
    }
    .best-seller{

        font-size: 40px;
        font-weight: 600;
    }
   
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (min-width: 1280px) {
   
    .text-image {
        top: 30%;
        font-size: 25px;
    }
    .button {
        width: 163px;
        height: 47px;
        border-radius: 24px;
        font-size: 14px;
    }
    .box-img-item ,.box-img-item-2{
        font-size: 30px;
    }
    .main-img-box{
        display: flex;
        flex-direction: row;
    }
    .img_wrapper{
        position: relative;
        display: block;
    margin: 5px;
      }
      .img_wrapper img{
    width: 100%;
      }
    
    
  }


  .mySlides_container{
      display: flex;
  }
  